<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzt.api.dao.BusinessmanMapper" >
  <resultMap id="BaseResultMap" type="com.jzt.api.domain.Businessman" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img_dir" property="imgDir" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="INTEGER" />
    <result column="school_type" property="schoolType" jdbcType="INTEGER" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="school_type2" property="schoolType2" jdbcType="INTEGER" />
    <result column="school2" property="school2" jdbcType="VARCHAR" />
    <result column="has_professional_certificate" property="hasProfessionalCertificate" jdbcType="INTEGER" />
    <result column="professional_certificate" property="professionalCertificate" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="INTEGER" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="INTEGER" />
    <result column="enterprise_field" property="enterpriseField" jdbcType="INTEGER" />
    <result column="has_management_work" property="hasManagementWork" jdbcType="INTEGER" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jzt.api.domain.Businessman" extends="BaseResultMap" >
    <result column="des" property="des" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cid, name, img_dir, img, post, sex, age, education, school_type, school, school_type2, 
    school2, has_professional_certificate, professional_certificate, work_experience, 
    enterprise_type, enterprise_field, has_management_work, other, create_time, update_time, 
    is_delete
  </sql>
  <sql id="Blob_Column_List" >
    des
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jzt.api.domain.BusinessmanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from businessman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzt.api.domain.BusinessmanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from businessman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from businessman
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from businessman
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzt.api.domain.BusinessmanExample" >
    delete from businessman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzt.api.domain.Businessman" >
    insert into businessman (id, cid, name, 
      img_dir, img, post, 
      sex, age, education, 
      school_type, school, school_type2, 
      school2, has_professional_certificate, professional_certificate, 
      work_experience, enterprise_type, enterprise_field, 
      has_management_work, other, create_time, 
      update_time, is_delete, des
      )
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{imgDir,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{education,jdbcType=INTEGER}, 
      #{schoolType,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, #{schoolType2,jdbcType=INTEGER}, 
      #{school2,jdbcType=VARCHAR}, #{hasProfessionalCertificate,jdbcType=INTEGER}, #{professionalCertificate,jdbcType=VARCHAR}, 
      #{workExperience,jdbcType=INTEGER}, #{enterpriseType,jdbcType=INTEGER}, #{enterpriseField,jdbcType=INTEGER}, 
      #{hasManagementWork,jdbcType=INTEGER}, #{other,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{isDelete,jdbcType=INTEGER}, #{des,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzt.api.domain.Businessman" >
    insert into businessman
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imgDir != null" >
        img_dir,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="schoolType != null" >
        school_type,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="schoolType2 != null" >
        school_type2,
      </if>
      <if test="school2 != null" >
        school2,
      </if>
      <if test="hasProfessionalCertificate != null" >
        has_professional_certificate,
      </if>
      <if test="professionalCertificate != null" >
        professional_certificate,
      </if>
      <if test="workExperience != null" >
        work_experience,
      </if>
      <if test="enterpriseType != null" >
        enterprise_type,
      </if>
      <if test="enterpriseField != null" >
        enterprise_field,
      </if>
      <if test="hasManagementWork != null" >
        has_management_work,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="des != null" >
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgDir != null" >
        #{imgDir,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=INTEGER},
      </if>
      <if test="schoolType != null" >
        #{schoolType,jdbcType=INTEGER},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="schoolType2 != null" >
        #{schoolType2,jdbcType=INTEGER},
      </if>
      <if test="school2 != null" >
        #{school2,jdbcType=VARCHAR},
      </if>
      <if test="hasProfessionalCertificate != null" >
        #{hasProfessionalCertificate,jdbcType=INTEGER},
      </if>
      <if test="professionalCertificate != null" >
        #{professionalCertificate,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=INTEGER},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=INTEGER},
      </if>
      <if test="enterpriseField != null" >
        #{enterpriseField,jdbcType=INTEGER},
      </if>
      <if test="hasManagementWork != null" >
        #{hasManagementWork,jdbcType=INTEGER},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        #{des,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzt.api.domain.BusinessmanExample" resultType="java.lang.Integer" >
    select count(*) from businessman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update businessman
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imgDir != null" >
        img_dir = #{record.imgDir,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=INTEGER},
      </if>
      <if test="record.schoolType != null" >
        school_type = #{record.schoolType,jdbcType=INTEGER},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolType2 != null" >
        school_type2 = #{record.schoolType2,jdbcType=INTEGER},
      </if>
      <if test="record.school2 != null" >
        school2 = #{record.school2,jdbcType=VARCHAR},
      </if>
      <if test="record.hasProfessionalCertificate != null" >
        has_professional_certificate = #{record.hasProfessionalCertificate,jdbcType=INTEGER},
      </if>
      <if test="record.professionalCertificate != null" >
        professional_certificate = #{record.professionalCertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.workExperience != null" >
        work_experience = #{record.workExperience,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseType != null" >
        enterprise_type = #{record.enterpriseType,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseField != null" >
        enterprise_field = #{record.enterpriseField,jdbcType=INTEGER},
      </if>
      <if test="record.hasManagementWork != null" >
        has_management_work = #{record.hasManagementWork,jdbcType=INTEGER},
      </if>
      <if test="record.other != null" >
        other = #{record.other,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.des != null" >
        des = #{record.des,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update businessman
    set id = #{record.id,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      img_dir = #{record.imgDir,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      age = #{record.age,jdbcType=INTEGER},
      education = #{record.education,jdbcType=INTEGER},
      school_type = #{record.schoolType,jdbcType=INTEGER},
      school = #{record.school,jdbcType=VARCHAR},
      school_type2 = #{record.schoolType2,jdbcType=INTEGER},
      school2 = #{record.school2,jdbcType=VARCHAR},
      has_professional_certificate = #{record.hasProfessionalCertificate,jdbcType=INTEGER},
      professional_certificate = #{record.professionalCertificate,jdbcType=VARCHAR},
      work_experience = #{record.workExperience,jdbcType=INTEGER},
      enterprise_type = #{record.enterpriseType,jdbcType=INTEGER},
      enterprise_field = #{record.enterpriseField,jdbcType=INTEGER},
      has_management_work = #{record.hasManagementWork,jdbcType=INTEGER},
      other = #{record.other,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=DATE},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      des = #{record.des,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update businessman
    set id = #{record.id,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      img_dir = #{record.imgDir,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      age = #{record.age,jdbcType=INTEGER},
      education = #{record.education,jdbcType=INTEGER},
      school_type = #{record.schoolType,jdbcType=INTEGER},
      school = #{record.school,jdbcType=VARCHAR},
      school_type2 = #{record.schoolType2,jdbcType=INTEGER},
      school2 = #{record.school2,jdbcType=VARCHAR},
      has_professional_certificate = #{record.hasProfessionalCertificate,jdbcType=INTEGER},
      professional_certificate = #{record.professionalCertificate,jdbcType=VARCHAR},
      work_experience = #{record.workExperience,jdbcType=INTEGER},
      enterprise_type = #{record.enterpriseType,jdbcType=INTEGER},
      enterprise_field = #{record.enterpriseField,jdbcType=INTEGER},
      has_management_work = #{record.hasManagementWork,jdbcType=INTEGER},
      other = #{record.other,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=DATE},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzt.api.domain.Businessman" >
    update businessman
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgDir != null" >
        img_dir = #{imgDir,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="schoolType != null" >
        school_type = #{schoolType,jdbcType=INTEGER},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="schoolType2 != null" >
        school_type2 = #{schoolType2,jdbcType=INTEGER},
      </if>
      <if test="school2 != null" >
        school2 = #{school2,jdbcType=VARCHAR},
      </if>
      <if test="hasProfessionalCertificate != null" >
        has_professional_certificate = #{hasProfessionalCertificate,jdbcType=INTEGER},
      </if>
      <if test="professionalCertificate != null" >
        professional_certificate = #{professionalCertificate,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        work_experience = #{workExperience,jdbcType=INTEGER},
      </if>
      <if test="enterpriseType != null" >
        enterprise_type = #{enterpriseType,jdbcType=INTEGER},
      </if>
      <if test="enterpriseField != null" >
        enterprise_field = #{enterpriseField,jdbcType=INTEGER},
      </if>
      <if test="hasManagementWork != null" >
        has_management_work = #{hasManagementWork,jdbcType=INTEGER},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jzt.api.domain.Businessman" >
    update businessman
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      img_dir = #{imgDir,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      school_type = #{schoolType,jdbcType=INTEGER},
      school = #{school,jdbcType=VARCHAR},
      school_type2 = #{schoolType2,jdbcType=INTEGER},
      school2 = #{school2,jdbcType=VARCHAR},
      has_professional_certificate = #{hasProfessionalCertificate,jdbcType=INTEGER},
      professional_certificate = #{professionalCertificate,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=INTEGER},
      enterprise_type = #{enterpriseType,jdbcType=INTEGER},
      enterprise_field = #{enterpriseField,jdbcType=INTEGER},
      has_management_work = #{hasManagementWork,jdbcType=INTEGER},
      other = #{other,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      is_delete = #{isDelete,jdbcType=INTEGER},
      des = #{des,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzt.api.domain.Businessman" >
    update businessman
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      img_dir = #{imgDir,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      school_type = #{schoolType,jdbcType=INTEGER},
      school = #{school,jdbcType=VARCHAR},
      school_type2 = #{schoolType2,jdbcType=INTEGER},
      school2 = #{school2,jdbcType=VARCHAR},
      has_professional_certificate = #{hasProfessionalCertificate,jdbcType=INTEGER},
      professional_certificate = #{professionalCertificate,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=INTEGER},
      enterprise_type = #{enterpriseType,jdbcType=INTEGER},
      enterprise_field = #{enterpriseField,jdbcType=INTEGER},
      has_management_work = #{hasManagementWork,jdbcType=INTEGER},
      other = #{other,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>