<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzt.api.dao.PlatAppMapper" >
  <resultMap id="BaseResultMap" type="com.jzt.api.domain.PlatApp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plat_id" property="platId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ios_address" property="iosAddress" jdbcType="VARCHAR" />
    <result column="android_address" property="androidAddress" jdbcType="VARCHAR" />
    <result column="ios_code_url" property="iosCodeUrl" jdbcType="VARCHAR" />
    <result column="android_code_url" property="androidCodeUrl" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="is_ios" property="isIos" jdbcType="INTEGER" />
    <result column="is_android" property="isAndroid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plat_id, name, ios_address, android_address, ios_code_url, android_code_url, 
    logo, is_ios, is_android, create_time, update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzt.api.domain.PlatAppExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plat_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plat_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plat_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzt.api.domain.PlatAppExample" >
    delete from plat_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzt.api.domain.PlatApp" >
    insert into plat_app (id, plat_id, name, 
      ios_address, android_address, ios_code_url, 
      android_code_url, logo, is_ios, 
      is_android, create_time, update_time, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{platId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{iosAddress,jdbcType=VARCHAR}, #{androidAddress,jdbcType=VARCHAR}, #{iosCodeUrl,jdbcType=VARCHAR}, 
      #{androidCodeUrl,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{isIos,jdbcType=INTEGER}, 
      #{isAndroid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jzt.api.domain.PlatApp" >
    insert into plat_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platId != null" >
        plat_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="iosAddress != null" >
        ios_address,
      </if>
      <if test="androidAddress != null" >
        android_address,
      </if>
      <if test="iosCodeUrl != null" >
        ios_code_url,
      </if>
      <if test="androidCodeUrl != null" >
        android_code_url,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="isIos != null" >
        is_ios,
      </if>
      <if test="isAndroid != null" >
        is_android,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platId != null" >
        #{platId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="iosAddress != null" >
        #{iosAddress,jdbcType=VARCHAR},
      </if>
      <if test="androidAddress != null" >
        #{androidAddress,jdbcType=VARCHAR},
      </if>
      <if test="iosCodeUrl != null" >
        #{iosCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="androidCodeUrl != null" >
        #{androidCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isIos != null" >
        #{isIos,jdbcType=INTEGER},
      </if>
      <if test="isAndroid != null" >
        #{isAndroid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzt.api.domain.PlatAppExample" resultType="java.lang.Integer" >
    select count(*) from plat_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plat_app
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.platId != null" >
        plat_id = #{record.platId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.iosAddress != null" >
        ios_address = #{record.iosAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.androidAddress != null" >
        android_address = #{record.androidAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.iosCodeUrl != null" >
        ios_code_url = #{record.iosCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.androidCodeUrl != null" >
        android_code_url = #{record.androidCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.isIos != null" >
        is_ios = #{record.isIos,jdbcType=INTEGER},
      </if>
      <if test="record.isAndroid != null" >
        is_android = #{record.isAndroid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plat_app
    set id = #{record.id,jdbcType=INTEGER},
      plat_id = #{record.platId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      ios_address = #{record.iosAddress,jdbcType=VARCHAR},
      android_address = #{record.androidAddress,jdbcType=VARCHAR},
      ios_code_url = #{record.iosCodeUrl,jdbcType=VARCHAR},
      android_code_url = #{record.androidCodeUrl,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      is_ios = #{record.isIos,jdbcType=INTEGER},
      is_android = #{record.isAndroid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzt.api.domain.PlatApp" >
    update plat_app
    <set >
      <if test="platId != null" >
        plat_id = #{platId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="iosAddress != null" >
        ios_address = #{iosAddress,jdbcType=VARCHAR},
      </if>
      <if test="androidAddress != null" >
        android_address = #{androidAddress,jdbcType=VARCHAR},
      </if>
      <if test="iosCodeUrl != null" >
        ios_code_url = #{iosCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="androidCodeUrl != null" >
        android_code_url = #{androidCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isIos != null" >
        is_ios = #{isIos,jdbcType=INTEGER},
      </if>
      <if test="isAndroid != null" >
        is_android = #{isAndroid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzt.api.domain.PlatApp" >
    update plat_app
    set plat_id = #{platId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      ios_address = #{iosAddress,jdbcType=VARCHAR},
      android_address = #{androidAddress,jdbcType=VARCHAR},
      ios_code_url = #{iosCodeUrl,jdbcType=VARCHAR},
      android_code_url = #{androidCodeUrl,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      is_ios = #{isIos,jdbcType=INTEGER},
      is_android = #{isAndroid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>