<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzt.api.dao.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.jzt.api.domain.TUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="PHOTO" property="photo" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="OCCUPATION" property="occupation" jdbcType="VARCHAR" />
    <result column="BUSYNESS" property="busyness" jdbcType="VARCHAR" />
    <result column="BIZDESC" property="bizdesc" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="REFERRER_PHONE" property="referrerPhone" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="SMS_CODE" property="smsCode" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="SERVER_FLAG" property="serverFlag" jdbcType="CHAR" />
    <result column="MEMBERSHIP" property="membership" jdbcType="CHAR" />
    <result column="BALANCE" property="balance" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PHONE, PASSWORD, USERNAME, NICKNAME, SEX, BIRTHDAY, PHOTO, CITY, OCCUPATION, 
    BUSYNESS, BIZDESC, ADDRESS, TYPE, STATUS, REFERRER_PHONE, CREATETIME, UPDATETIME, 
    SMS_CODE, CID, SERVER_FLAG, MEMBERSHIP, BALANCE, AMOUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzt.api.domain.TUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectFriendByPhone" resultMap="BaseResultMap" parameterType="com.jzt.api.domain.TUser" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id in ( select b.friend_id from t_user c, t_friends b where c.id=#{id,jdbcType=INTEGER} and c.ID=b.user_id ) and phone=#{phone,jdbcType=VARCHAR};
  </select>
  <select id="selectMyFriendByUserId" resultMap="BaseResultMap" parameterType="com.jzt.api.domain.TUser" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id in ( select b.friend_id from t_user c, t_friends b where c.id=#{id,jdbcType=INTEGER} and c.ID=b.user_id );
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzt.api.domain.TUserExample" >
    delete from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzt.api.domain.TUser" >
    insert into t_user (ID, PHONE, PASSWORD, 
      USERNAME, NICKNAME, SEX, 
      BIRTHDAY, PHOTO, CITY, 
      OCCUPATION, BUSYNESS, BIZDESC, 
      ADDRESS, TYPE, STATUS, 
      REFERRER_PHONE, CREATETIME, UPDATETIME, 
      SMS_CODE, CID, SERVER_FLAG, 
      MEMBERSHIP, BALANCE, AMOUNT
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{photo,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{busyness,jdbcType=VARCHAR}, #{bizdesc,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{referrerPhone,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{smsCode,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{serverFlag,jdbcType=CHAR}, 
      #{membership,jdbcType=CHAR}, #{balance,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzt.api.domain.TUser" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="photo != null" >
        PHOTO,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="occupation != null" >
        OCCUPATION,
      </if>
      <if test="busyness != null" >
        BUSYNESS,
      </if>
      <if test="bizdesc != null" >
        BIZDESC,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="referrerPhone != null" >
        REFERRER_PHONE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="smsCode != null" >
        SMS_CODE,
      </if>
      <if test="cid != null" >
        CID,
      </if>
      <if test="serverFlag != null" >
        SERVER_FLAG,
      </if>
      <if test="membership != null" >
        MEMBERSHIP,
      </if>
      <if test="balance != null" >
        BALANCE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="busyness != null" >
        #{busyness,jdbcType=VARCHAR},
      </if>
      <if test="bizdesc != null" >
        #{bizdesc,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="referrerPhone != null" >
        #{referrerPhone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsCode != null" >
        #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="serverFlag != null" >
        #{serverFlag,jdbcType=CHAR},
      </if>
      <if test="membership != null" >
        #{membership,jdbcType=CHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzt.api.domain.TUserExample" resultType="java.lang.Integer" >
    select count(*) from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.photo != null" >
        PHOTO = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.occupation != null" >
        OCCUPATION = #{record.occupation,jdbcType=VARCHAR},
      </if>
      <if test="record.busyness != null" >
        BUSYNESS = #{record.busyness,jdbcType=VARCHAR},
      </if>
      <if test="record.bizdesc != null" >
        BIZDESC = #{record.bizdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.referrerPhone != null" >
        REFERRER_PHONE = #{record.referrerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.smsCode != null" >
        SMS_CODE = #{record.smsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.serverFlag != null" >
        SERVER_FLAG = #{record.serverFlag,jdbcType=CHAR},
      </if>
      <if test="record.membership != null" >
        MEMBERSHIP = #{record.membership,jdbcType=CHAR},
      </if>
      <if test="record.balance != null" >
        BALANCE = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user
    set ID = #{record.id,jdbcType=INTEGER},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=CHAR},
      BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      PHOTO = #{record.photo,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      OCCUPATION = #{record.occupation,jdbcType=VARCHAR},
      BUSYNESS = #{record.busyness,jdbcType=VARCHAR},
      BIZDESC = #{record.bizdesc,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=CHAR},
      REFERRER_PHONE = #{record.referrerPhone,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      SMS_CODE = #{record.smsCode,jdbcType=VARCHAR},
      CID = #{record.cid,jdbcType=VARCHAR},
      SERVER_FLAG = #{record.serverFlag,jdbcType=CHAR},
      MEMBERSHIP = #{record.membership,jdbcType=CHAR},
      BALANCE = #{record.balance,jdbcType=DECIMAL},
      AMOUNT = #{record.amount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzt.api.domain.TUser" >
    update t_user
    <set >
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        PHOTO = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        OCCUPATION = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="busyness != null" >
        BUSYNESS = #{busyness,jdbcType=VARCHAR},
      </if>
      <if test="bizdesc != null" >
        BIZDESC = #{bizdesc,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="referrerPhone != null" >
        REFERRER_PHONE = #{referrerPhone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsCode != null" >
        SMS_CODE = #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="serverFlag != null" >
        SERVER_FLAG = #{serverFlag,jdbcType=CHAR},
      </if>
      <if test="membership != null" >
        MEMBERSHIP = #{membership,jdbcType=CHAR},
      </if>
      <if test="balance != null" >
        BALANCE = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzt.api.domain.TUser" >
    update t_user
    set PHONE = #{phone,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      PHOTO = #{photo,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      OCCUPATION = #{occupation,jdbcType=VARCHAR},
      BUSYNESS = #{busyness,jdbcType=VARCHAR},
      BIZDESC = #{bizdesc,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=CHAR},
      REFERRER_PHONE = #{referrerPhone,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      SMS_CODE = #{smsCode,jdbcType=VARCHAR},
      CID = #{cid,jdbcType=VARCHAR},
      SERVER_FLAG = #{serverFlag,jdbcType=CHAR},
      MEMBERSHIP = #{membership,jdbcType=CHAR},
      BALANCE = #{balance,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>