.div_app{
	width:180px;
	height:180px;
	border:1px solid #DD0;
	border-radius:10px;   
}

.img_app{
	width:55px;
	height:55px;
	border-radius:5px;   
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:3px;
}

.name_div_app{
	width:85px;
	height:85px;
	border-radius:5px;
	text-align:center;
}

.icon_app{
	width:20px;
	height:20px;
	margin:5px;
}

.li_app{
	float:left;
	width:250px;
	padding:15px;
}

.ul_app{
	margin-left:45px;
	margin-right:45px;
	margin-bottom:45px;
}

.button_app{
	margin-top:5px;
}

.qrcode_app{
	width:80px;
	height:80px; 
	margin-top:10px;
}