.select-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
}

.select-item {
	font-size: 15px;
	font-weight:bold;
	float:left;
	display:inline;
	
	
}

.select-focus-rank {
	
	color: #0A7FD9 ;
	padding:1px 4px;
}
.bottomtitle{
	border-bottom: 1px solid #EEEEEE;
}
.pl-title-color1{
	font-family: "PingFangSC-Regular";
	font-size: 18px;
	color: #000000;
	letter-spacing: -0.43px;
	
}

.select-check {
	float: none;

	display:inline;
}

.product-select-rank{
	display:inline;
	float:right;
}

.product-select-rank li {
	display: inline-block;
	padding: 0 10px;
	margin: 2px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	white-space: nowrap;
}

.product-select-rank li:hover {
	
	color: #008EB7;
}


.rank-more{
	display:inline;
	padding-left:0px;
	
}

.rank-more li {
	display: inline-block;
	padding: 0 10px;
	margin: 2px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	white-space: nowrap;
	font-size:16px;
}

.rank-more li:hover {
	
	color: #008EB7;
}



.topList-rank i {
  float: left;
  margin-right: 5px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-family: "arial";
  background: #cdcdcd;
}

.topList-rank i.t1 {
  background: #0A7FD9 ;
}

.topList-rank i.t2 {
  background: #0A7FD9;
}

.topList-rank i.t3 {
  background: #0A7FD9;
}

.topList-rank a {
  text-decoration: none;
  color: #333;
}

.topList_fl_rank {
  float: left;
}

.topList-rank li {
  padding: 7px 10px;
  margin-top: -1px;
  overflow: hidden;
  border-top: #ffffff solid 1px;
}

.morerank{
	
	margin-top: 150px;
    margin-left: 300px
}

.more-topList-rank{
	padding-left:0px;
}

.rank-more-left{
	padding-left: 0px;
    margin-left: 0px;
}

.more-topList-rank i {
  float: left;
  margin-right: 5px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-family: "arial";
  background: #cdcdcd;
}

.more-topList-rank i.t1 {
  background: #0e7fb4;
}

.more-topList-rank i.t2 {
  background: #12a3e9;
}

.more-topList-rank i.t3 {
  background: #2eb0ef;
}

.more-topList-rank a {
  text-decoration: none;
  color: #333;
}

.more-topList-rank li {
  padding-top: 7px;
  margin-top: -1px;
  overflow: hidden;
  border-top: #eee solid 1px;
}

.rankwidth{
	width:142px;
}

.table-center th{
	text-align:center;
}

.table-center td{
	text-align:center;
}

.ranktop span {

  overflow: hidden;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-family: "arial";
  background: #2eb0ef;
}

.ranktop span.t1 {
  background: #fb271c;
}

.ranktop span.t2 {
  background: #e06761;
}

.ranktop span.t3 {
  background: #f08a68;
}

.ranktop a {
  text-decoration: none;
  
}





